@media only screen and (max-width: 768px){
  .onMobile{
    display: none;
  }


  .mobileText{
    display: block !important;
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
  }

}