body {
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  overflow-x:hidden;
}

a{
  color: #eb445c;
}

a:hover{
  color: black;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.nav-link {
  background-color: white;
  text-transform: uppercase;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: #eb445c;
}

/*index section*/
.hero {
  position: relative;
  background: url('../images/timi-bg.gif');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero h1 {
  font-size: 70px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}
.hero p {
  padding: 0;
  margin: 1em 0 0 0;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
}

/*work section*/
.w_grid{ 
  padding: 5%;
}

.imgthumb{
  width: 100%;
  padding-bottom: 7%;
}

/*pages section*/
.container {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.content{
  position:relative;
  margin-top:5%;
  margin-bottom:5%;
  max-width:800px;
}

.imgcol{
  width: 100%;
  padding-bottom: 2%;
}

.upbutton{
  position: absolute;
  right: 0;
  border-radius: 25px;
  background: #eb445c;
  color:  white;
  padding: 13px 35px;
  width: 153px;
  height: 45px;
}

/*about section*/
.about-content{
  position:relative;
  padding:25px 15px 25px 15px;
  margin-top:5%;
  margin-bottom:5%;
  max-width:900px;
  color: white;
}

#rcorners1 {
  border-radius: 25px;
  background: #eb445c;
  padding: 20px;
  width: 600px;
  height: 270px;
}

#footer {
  position: bottom;
  padding-top:20px;
  height: 50px;
  background-color: #eb445c;
}

#footer-text {
  text-align: center;
  color: white;
}